#htmlshow, #codeedit, #visualize, #errorshow, #detailshow
{
	overflow: scroll;

}
#htmlshow{
	background-color: #272822;
	top:10px;
	white-space: pre;
}

#htmlshow .normaltext, .tagtext, .attrtext, .valuetext, .linenumbertext
{
	font-family: Consolas;
	font-size: 16px;
}

#htmlshow .normaltext
{
	color: white;
}

#htmlshow .tagtext
{
	color: #FE2470;
}

#htmlshow .attrtext
{
	color: #B2D44A;
}

#htmlshow .valuetext
{
	color: #EBD67D;
}

#htmlshow .linenumbertext
{
	color: gray;
}

#errorshow .normaltext, .fataltext, .warningtext, .timestamptext
{
	font-family: Consolas;
	font-size: 14px;
}

#errorshow .fataltext
{
	color:#DC0000;
	font-weight: bold;
}

#errorshow .warningtext
{
	color: #70623F;
	font-weight: bold;
}
#errorshow .timestamptext
{
	color: gray;
}

#detailshow .normaltext, .timestamptext{
	font-family: Consolas;
	font-size: 14px;
}

#detailshow .timestamptext
{
	color: gray;
}